.recipes {
  padding: 100px 80px 215px;
  margin: 0;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  color: #fff;
  background-position: center;
}

.recipes__videos {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.recipes__iframe {
  border: none;
  height: 273px;
  width: 480px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  margin: 24px 0 0 0;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 0px 80px;
}
